# Байт-код, оптимизированные / DLL-файлы
__pycache__/
*.py[cod]

# Файлы конфигурации для venv
venv/
.env

# Файлы дистрибутивов и артефакты упаковки
dist/
*.egg-info/

# Файлы покрытия, кэши и прочие ненужные файлы
.coverage
*.py,cover
.cache/

# Файлы *.py,cover не несут никакого смысла
*.py,cover

# Контрольные точки в Jupyter notebook лучше оставить в стороне
.ipynb_checkpoints
*.DS_Store

.idea/

# Файлы изображений и топологий
*.jpg
*.png
*.gds
*.pth
*.txt

# Не хотим игнорирова requirements.txt
!requirements.txt

# Игнорируем отслеживание конфига
src/config.py

# метаинформация по hydra
.hydra/

# директория с сохранёнными весами моделей на локальной машине
checkpoints/*/
